<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EquationSolver3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81A327081CE36D3300E0D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A3271C1CE36D3300E0D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A327271CE36D3400E0D751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
